## .NET / C#
bin/
obj/
*.user
*.suo
.vs/
*.swp
*.nupkg
*.snupkg

## Rider / JetBrains
.idea/

## VS Code
.vscode/

## Logs & temp
*.log
Thumbs.db
.DS_Store

## Environment / secrets
appsettings.Development.json
appsettings.Local.json
*.env
